
.item-btn{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 30px;
}

.btn{
    background-color: blueviolet;
    padding: 10px 20px;
    border-radius: 8px;
    color: aliceblue;
}