.container{
    background-image: linear-gradient(to right, rgb(205, 142, 205), rgb(152, 145, 11));
}
.container h2{
    font-style: italic;
    color: rgb(163, 216, 216);
    padding-top: 30px;
}













